<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li class="contenedor-logo">
                    <a href="{{ url_for('home')}}">
                        <img class="logo" src="{{ url_for('static', filename='logocafe.jpeg') }}" alt="" width="100%">
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><i class="fa fa-home"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('intermitente')}}">
                        <span class="icon"><i class="fa fa-allergies"></i></span>
                        <span class="title">Protocolo</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><i class="fa fa-cog"></i></span>
                        <span class="title">Configuraciones</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <section class="content">
                <div class="topbar">
                    <div class="toggle" onclick="toggleMenu();">
                        <li class="fas fa-bars"></li>
                    </div>
                </div>
                {% block content %} {% endblock %}
            </section>
        </div>
    </div>


    <script>
        function toggleMenu() {
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
</body>

</html>